<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
    <style>
        .acc{
            text-decoration: none;
            margin-left: 480px;
        }
        .sigfor{
            margin-left: 480px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
     
     <form action="">
        <div class="sigfor">
            <h2>Sign in</h2>
            <label for="username">Username</label>
        <input type="text">
        <br><br>
        <label for="password">Password</label>
        <input type="password">
        <br><br>
        <button>Sign in</button>
        </div>
        
     </form>
     <br><br>
       <div>
        <a class="acc" href="/register"><b>Didn't have account ?</b></a>
       </div>
</body>
</html>