<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join as guest</title>
    <style>
        .text{
            display: flex;
            justify-content: center;
        }
        .input{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h3 class="text">Enter into lobby</h3>
    <form action="" class="input">
        <input type="text" placeholder="Username">
        &nbsp;&nbsp;&nbsp;
        <button>Connect</button>
    </form>
</body>
</html>