<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .text {
            display: flex;
            justify-content: center;
        }
        .logform{
            margin-left: 500px;
        }
    </style>
</head>

<body>
    <h3 class="text">Welcome back!</h3>
    <form action="">
        <div class="logform">
            <label for="username">Username</label>&nbsp;&nbsp;
            <input type="text">
            <br><br>
            <label for="password">Password</label>&nbsp;&nbsp;
            <input type="password"><br><br>
            <button>Login</button>
        </div>
    </form>
</body>

</html>